.main {
    width: 90%;
    margin-top: 10px;
}

.header {
    font-size: 14pt;
    margin: 50px 0px;
    text-transform: uppercase;
    font-weight: 300;
}

.title-div {
    width: 100%;
    display: block;
}

.title {
    font-size: 32pt;
    font-weight: 700;
    line-height: 1.5em;
    margin: 10px 0px 30px 0px;
}

.pitch {
    font-size: 14pt;
    line-height: 1.5em;
}

.subtitle {
    font-size: 28pt;
    font-weight: 600;
    line-height: 1.5em;
    margin: 100px 0px 10px 0px;
}

.sub {
    font-size: 24pt;
    font-weight: 500;
    line-height: 1.25em;
    margin: 10px 0px 50px 0px;
}

.f-1,
.f-2 {
    width: 95%;
}

.img-div {
    display: flex;
    justify-content: center;
}

.img {
    width: 95%;
    display: block;
}

//all styles below should be replicated on the website for viewing Job Postings
.f1 {
    font-size: 32pt;
    font-weight: 600;
    line-height: 1.5em;
    margin: 15px 0px;
}

.f2 {
    font-size: 28pt;
    font-weight: 500;
    line-height: 1.45em;
    margin: 15px 0px;
}

.f2 {
    font-size: 24pt;
    line-height: 1.35em;
    margin: 15px 0px;
}

.f3 {
    font-size: 20pt;
    line-height: 1.15em;
    margin: 15px 0px;
}

.c1 {
    font-size: 16pt;
    font-style: italic;
    line-height: 1.25em;
}

.c2 {
    font-size: 16pt;
    line-height: 1.25em;
}

.c3 {
    font-size: 14pt;
    font-style: italic;
    line-height: 1.25em;
}

.c4 {
    font-size: 14pt;
    line-height: 1.25em;
}
//end of text to be replicated

@media only screen and (max-width: 600px) {

    //smaller mobile devices
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .f-1,
    .f-2 {
        width: 95%;
        display: block;
    }

    .title-div {
        display: block;
    }
}

@media only screen and (min-width: 600px) {

    //small mobile devices
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .f-1,
    .f-2 {
        width: 90%;
    }

    .title-div {
        display: block;
    }
}

@media only screen and (min-width: 768px) {

    //tablets
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .f-1,
    .f-2 {
        width: 45%;
    }

    .title-div {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 992px) {

    //laptops and larger
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .f-1,
    .f-2 {
        width: 40%;
    }

    .title-div {
        display: flex;
        justify-content: space-evenly;
    }
}

@media only screen and (min-width: 1200px) {

    //laptops and larger
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .f-1,
    .f-2 {
        width: 40%;
    }

    .title-div {
        display: flex;
        justify-content: space-evenly;
    }
}