<div class="not-found-div">
	<div class="s0">
		<div class="s-0-gap"></div>
		<div class="s-0-text">
			<div class="s-0-head s-head">
				<div class="s-0-head-gap"></div>
			</div>
			<div class="lines-body s-content">
				<div class="rotate-div">
					<div class="rotate-content">Error</div>
				</div>
				<div class="lines-left">
					<div class="s-subhead">The requested resource was not found at this URL</div>
					<a [routerLink]="['/']">Explore our Homepage</a>
				</div>
			</div>
		</div>
	</div>
</div>