<footer class="footer">
	<div class="footer-div">
		<div class="logo-div">
			<div class="f-1-div">
				<span class="img-span">
					<img src="/assets/icon-white.png" alt="SNL Logo" class="logo">
				</span>
			</div>
			<span class="logo-text-span">SNL Nigeria</span>
		</div>
		<div class="links-div">
			<div class="c-1">
				<div class="link"><a [routerLink]="['/careers']">Careers</a></div>
				<div class="link"><a [routerLink]="['/team']">Our Team</a></div>
				<div class="link"><a class="p-link" [routerLink]="['/contact']">Let's Talk</a></div>
			</div>
			<div class="c-2">
				<div class="link"><a href="https://lanreoyebofoundation.com/">The Lanre Oyebo Technology Foundation</a></div>
				<div class="link"><a href="https://lanreoyebotechnologies.com/">Lanre Oyebo Technologies</a></div>
				<!-- <div class="link"><a href="https://stirring-crepe-d2b5cf.netlify.app/">SPACE Park</a></div> -->
			</div>
			<div class="c-3">
				<div class="s-flex">
					<!-- <a class="social" href="https://instagram.com"><img class="s-icon" src="/assets/footer/ig.png" alt="Instagram Icon"></a> -->
					<!-- <a class="social" href="https://twitter.com"><img class="s-icon" src="/assets/footer/tw.png" alt="Twitter Icon"></a> -->
					<!-- <a class="social" href="https://www.youtube.com/@SNLNigeria"><img class="s-icon" src="/assets/footer/yt.png" alt="YouTube Icon"></a> -->
					<!-- <a class="social" href="https://threads.net"><img class="s-icon" src="/assets/footer/tr.png" alt="Threads Icon"></a> -->
					<!-- <a class="social" href="https://facebook.com"><img class="s-icon" src="/assets/footer/fb.png" alt="Facebook Icon"></a> -->
				</div>
			</div>
		</div>
	</div>
</footer>