<mat-toolbar class="flex navbar" color="accent">
	<div class="s1">
		<div class="img-div">
			<span class="img-span">
				<img src="/assets/icon-white.png" alt="SNL Logo" [routerLink]="['/']" class="logo pointer">
			</span>
		</div>
		<span class="text-span hov" [routerLink]="['/']">SNL Global</span>
	</div>
	<div>
		<span class="nav-item"><a [routerLink]="['/team']">Our team</a></span>
		<!-- <span class="nav-item"><a [routerLink]="['/']"> Careers</a></span> -->
		<span class="nav-item">
			<button [routerLink]="['/contact']" class="button p-btn hov">Contact</button>
		</span>
		<!-- <span class="nav-item"><a [routerLink]="['/contact']">Contact</a></span> -->
	</div>
</mat-toolbar>