@import 'variables.scss';

.main {
    margin-top: 30px;
    padding: 0px 50px;
}

.contact-div {
    margin-top: 10px;
    min-height: 100vh;
    display: block;
}

.header {
    font-size: 14pt;
    margin: 50px 0px;
    text-transform: uppercase;
    font-weight: 300;
}

.title-div {
    width: 100%;
}

.title {
    font-size: 32pt;
    font-weight: 700;
    line-height: 1.5em;
    margin: 10px 0px 30px 0px;
}

.m-input {
    width: 95%;
}

.p-btn {
    padding: 10px 40px;
    border-radius: 25px;
    font-size: 14pt;
    margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {

    //smaller mobile devices
    .contact-div {
        display: block;
    }

    .m-input {
        width: 95%;
    }

    .l-div {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }

    .r-div,
    .img {
        display: none;
    }
}

@media only screen and (min-width: 600px) {

    //small mobile devices
    .contact-div {
        display: block;
    }

    .m-input {
        width: 95%;
    }

    .l-div {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }

    .r-div,
    .img {
        display: none;
    }
}

@media only screen and (min-width: 768px) {

    //tablets
    .contact-div {
        display: block;
    }

    .m-input {
        width: 85%;
    }

    .l-div {
        width: 95%;
        margin: 0 auto;
        text-align: center;
    }

    .r-div,
    .img {
        display: none;
    }
}

@media only screen and (min-width: 992px) {

    //laptops and larger
    .contact-div {
        display: flex;
        justify-content: space-between;
    }

    .m-input {
        width: 85%;
    }

    .l-div,
    .r-div {
        width: 45%;
        display: block;
    }

    .img {
        display: block;
        width: 60%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1200px) {

    //laptops and larger
    .contact-div {
        display: flex;
        justify-content: space-between;
    }

    .m-input {
        width: 85%;
    }

    .l-div,
    .r-div {
        width: 45%;
        display: block;
    }

    .img {
        display: block;
        width: 60%;
        margin: 0 auto;
    }
}