<div>
	<div class="contact-div center">
		<mat-card>
			<div class="header primary center-text">Reach out to SNL Nigeria</div>
			<div class="flex">
				<div class="f-div">
					<div class="primary subhead">Office Address</div>
					<div class="content">
						SNL Nigeria Head Office,
						<br>
						Obasanjo Space Centre,
						<br>
						Umaru Musa Yar'adua Express Way,
						<br>
						P.M.B, 437,
						<br>
						Garki, Abuja,
						<br>
						Nigeria
					</div>
				</div>
				<div class="f-div">
					<div class="primary subhead">Contact Information</div>
					<div class="content">
						Email: <a href="mailto:contact@snlglobal.net">contact@snlglobal.net</a>
						<br>
						Tel: <a href="tel:+2348001234567">+2348001234567</a>
					</div>
				</div>
			</div>
		</mat-card>
	</div>
</div>