$primary: #ce423a;
$secondary: #d8d8d8;
$danger: #ff0000;
$links: #ce423a;

$p-light: #ff726b;
$p-dark: #ab2922;
$s-light: #f5f5f5;
$s-dark: #acacac;
$d-light: #ff5555;
$d-dark: #810000;

$dark: #29292C;
$light: #ffffff;
$warn: #ff6c00;
$success: #5cf784;

$grey: #323636;