<div class="main center">
	<mat-card>
		<div class="header center-text">Meet the Team</div>
		<div class="mobile">
			<div class="person">
				<div id="h1" class="bio-head center-text">
					Person One
				</div>
				<div class="photo">
					<img src="/assets/p1.jpg" class="profile" alt="Photo of Person One">
				</div>
				<div class="bio">
					{{b_text}}
				</div>
			</div>
		</div>
		<div class="desktop">
			<div class="person">
				<div class="bio">
					<div id="h1" class="bio-head center-text">
						Person One
					</div>
					{{b_text}}
				</div>
				<div class="photo">
					<img src="/assets/p1.jpg" class="profile" alt="Photo of Person One">
				</div>
			</div>
		</div>

		<div class="mobile">
			<div class="person">
				<div id="h1" class="bio-head center-text">
					Person Two
				</div>
				<div class="photo">
					<img src="/assets/p2.jpg" class="profile" alt="Photo of Person Two">
				</div>
				<div class="bio">
					{{b_text}}
				</div>
			</div>
		</div>
		<div class="desktop">
			<div class="person">
				<div class="bio">
					<div id="h1" class="bio-head center-text">
						Person Two
					</div>
					{{b_text}}
				</div>
				<div class="photo">
					<img src="/assets/p2.jpg" class="profile" alt="Photo of Person Two">
				</div>
			</div>
		</div>



		<div class="mobile">
			<div class="person">
				<div id="h1" class="bio-head center-text">
					Person Three
				</div>
				<div class="photo">
					<img src="/assets/p3.jpg" class="profile" alt="Photo of Person Three">
				</div>
				<div class="bio">
					{{b_text}}
				</div>
			</div>
		</div>
		<div class="desktop">
			<div class="person">
				<div class="bio">
					<div id="h1" class="bio-head center-text">
						Person Three
					</div>
					{{b_text}}
				</div>
				<div class="photo">
					<img src="/assets/p3.jpg" class="profile" alt="Photo of Person Three">
				</div>
			</div>
		</div>



		<div class="mobile">
			<div class="person">
				<div id="h1" class="bio-head center-text">
					Person Four
				</div>
				<div class="photo">
					<img src="/assets/p4.jpg" class="profile" alt="Photo of Person Four">
				</div>
				<div class="bio">
					{{b_text}}
				</div>
			</div>
		</div>
		<div class="desktop">
			<div class="person">
				<div class="bio">
					<div id="h1" class="bio-head center-text">
						Person Four
					</div>
					{{b_text}}
				</div>
				<div class="photo">
					<img src="/assets/p4.jpg" class="profile" alt="Photo of Person Four">
				</div>
			</div>
		</div>
	</mat-card>
</div>