<div class="main center">
	<mat-card>
		<div class="header center-text">Meet the Team</div>
		<div class="person">
			<div class="bio">
				<div id="h1" class="bio-head center-text">
					Daniel Sule
				</div>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas, tempore, provident temporibus
				voluptate quisquam officia hic ducimus delectus cupiditate ut quam dolore quaerat ad? Placeat autem ex
				nihil beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam ab numquam alias,
				eius rem. Eum corporis est, quidem laboriosam veritatis similique impedit error, eveniet porro, deleniti
				culpa expedita. Neque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem minus temporibus
				nulla dicta tempore quam, quia eaque ullam magnam cum rem? Assumenda earum explicabo voluptatibus
				nesciunt ratione. Omnis, reiciendis quod. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Itaque sit minus sunt ipsum! Ipsum quo, quae dolore doloribus modi voluptatem ipsam vel cumque
				accusamus, enim, minus placeat iure nisi dicta?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem qui explicabo laudantium eos alias,
				perspiciatis vitae at dicta molestias possimus, corrupti rem doloremque aliquam, inventore eveniet
				deserunt cupiditate assumenda suscipit?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium vel sapiente, officia perferendis
				quam magnam cumque accusantium? Tempore, saepe doloremque voluptas, rerum, temporibus illum officia
				alias pariatur officiis sint rem!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta dolor, ipsa qui sunt, a quasi
				doloribus est velit, dolores rerum veniam corrupti in culpa eius minima molestiae provident eligendi.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci corporis consequatur facere
				natus nostrum pariatur suscipit, quia minus enim error in repudiandae quasi ad a commodi ipsum ratione
				quas.
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae repellendus necessitatibus aut
				aperiam voluptates odio dignissimos neque minus est perferendis, delectus omnis illum repellat vel
				labore, sed tempore quos pariatur.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptas inventore eius quasi
				reprehenderit necessitatibus a repellendus reiciendis recusandae provident quia suscipit quis error
				nobis, neque corrupti officiis quam iure.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas, tempore, provident temporibus
				voluptate quisquam officia hic ducimus delectus cupiditate ut quam dolore quaerat ad? Placeat autem ex
				nihil beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam ab numquam alias,
				eius rem. Eum corporis est, quidem laboriosam veritatis similique impedit error, eveniet porro, deleniti
				culpa expedita. Neque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem minus temporibus
				nulla dicta tempore quam, quia eaque ullam magnam cum rem? Assumenda earum explicabo voluptatibus
				nesciunt ratione. Omnis, reiciendis quod. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Itaque sit minus sunt ipsum! Ipsum quo, quae dolore doloribus modi voluptatem ipsam vel cumque
				accusamus, enim, minus placeat iure nisi dicta?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem qui explicabo laudantium eos alias,
				perspiciatis vitae at dicta molestias possimus, corrupti rem doloremque aliquam, inventore eveniet
				deserunt cupiditate assumenda suscipit?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium vel sapiente, officia perferendis
				quam magnam cumque accusantium? Tempore, saepe doloremque voluptas, rerum, temporibus illum officia
				alias pariatur officiis sint rem!
			</div>
			<div class="photo">
				<img src="/assets/p1.jpg" class="profile" alt="Photo of Person One">
			</div>
		</div>
		<div class="person">
			<div class="bio">
				<div id="h2" class="bio-head center-text">
					Other Daniel Sule
				</div>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas, tempore, provident temporibus
				voluptate quisquam officia hic ducimus delectus cupiditate ut quam dolore quaerat ad? Placeat autem ex
				nihil beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam ab numquam alias,
				eius rem. Eum corporis est, quidem laboriosam veritatis similique impedit error, eveniet porro, deleniti
				culpa expedita. Neque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem minus temporibus
				nulla dicta tempore quam, quia eaque ullam magnam cum rem? Assumenda earum explicabo voluptatibus
				nesciunt ratione. Omnis, reiciendis quod. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Itaque sit minus sunt ipsum! Ipsum quo, quae dolore doloribus modi voluptatem ipsam vel cumque
				accusamus, enim, minus placeat iure nisi dicta?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem qui explicabo laudantium eos alias,
				perspiciatis vitae at dicta molestias possimus, corrupti rem doloremque aliquam, inventore eveniet
				deserunt cupiditate assumenda suscipit?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium vel sapiente, officia perferendis
				quam magnam cumque accusantium? Tempore, saepe doloremque voluptas, rerum, temporibus illum officia
				alias pariatur officiis sint rem!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta dolor, ipsa qui sunt, a quasi
				doloribus est velit, dolores rerum veniam corrupti in culpa eius minima molestiae provident eligendi.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci corporis consequatur facere
				natus nostrum pariatur suscipit, quia minus enim error in repudiandae quasi ad a commodi ipsum ratione
				quas.
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae repellendus necessitatibus aut
				aperiam voluptates odio dignissimos neque minus est perferendis, delectus omnis illum repellat vel
				labore, sed tempore quos pariatur.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptas inventore eius quasi
				reprehenderit necessitatibus a repellendus reiciendis recusandae provident quia suscipit quis error
				nobis, neque corrupti officiis quam iure.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas, tempore, provident temporibus
				voluptate quisquam officia hic ducimus delectus cupiditate ut quam dolore quaerat ad? Placeat autem ex
				nihil beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam ab numquam alias,
				eius rem. Eum corporis est, quidem laboriosam veritatis similique impedit error, eveniet porro, deleniti
				culpa expedita. Neque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem minus temporibus
				nulla dicta tempore quam, quia eaque ullam magnam cum rem? Assumenda earum explicabo voluptatibus
				nesciunt ratione. Omnis, reiciendis quod. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Itaque sit minus sunt ipsum! Ipsum quo, quae dolore doloribus modi voluptatem ipsam vel cumque
				accusamus, enim, minus placeat iure nisi dicta?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem qui explicabo laudantium eos alias,
				perspiciatis vitae at dicta molestias possimus, corrupti rem doloremque aliquam, inventore eveniet
				deserunt cupiditate assumenda suscipit?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium vel sapiente, officia perferendis
				quam magnam cumque accusantium? Tempore, saepe doloremque voluptas, rerum, temporibus illum officia
				alias pariatur officiis sint rem!
			</div>
			<div class="photo">
				<img src="/assets/p2.jpg" class="profile" alt="Photo of Person Two">
			</div>
		</div>
		<div class="person">
			<div class="bio">
				<div id="h3" class="bio-head center-text">
					Third Daniel Sule
				</div>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas, tempore, provident temporibus
				voluptate quisquam officia hic ducimus delectus cupiditate ut quam dolore quaerat ad? Placeat autem ex
				nihil beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam ab numquam alias,
				eius rem. Eum corporis est, quidem laboriosam veritatis similique impedit error, eveniet porro, deleniti
				culpa expedita. Neque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem minus temporibus
				nulla dicta tempore quam, quia eaque ullam magnam cum rem? Assumenda earum explicabo voluptatibus
				nesciunt ratione. Omnis, reiciendis quod. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Itaque sit minus sunt ipsum! Ipsum quo, quae dolore doloribus modi voluptatem ipsam vel cumque
				accusamus, enim, minus placeat iure nisi dicta?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem qui explicabo laudantium eos alias,
				perspiciatis vitae at dicta molestias possimus, corrupti rem doloremque aliquam, inventore eveniet
				deserunt cupiditate assumenda suscipit?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium vel sapiente, officia perferendis
				quam magnam cumque accusantium? Tempore, saepe doloremque voluptas, rerum, temporibus illum officia
				alias pariatur officiis sint rem!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta dolor, ipsa qui sunt, a quasi
				doloribus est velit, dolores rerum veniam corrupti in culpa eius minima molestiae provident eligendi.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci corporis consequatur facere
				natus nostrum pariatur suscipit, quia minus enim error in repudiandae quasi ad a commodi ipsum ratione
				quas.
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae repellendus necessitatibus aut
				aperiam voluptates odio dignissimos neque minus est perferendis, delectus omnis illum repellat vel
				labore, sed tempore quos pariatur.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptas inventore eius quasi
				reprehenderit necessitatibus a repellendus reiciendis recusandae provident quia suscipit quis error
				nobis, neque corrupti officiis quam iure.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas, tempore, provident temporibus
				voluptate quisquam officia hic ducimus delectus cupiditate ut quam dolore quaerat ad? Placeat autem ex
				nihil beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam ab numquam alias,
				eius rem. Eum corporis est, quidem laboriosam veritatis similique impedit error, eveniet porro, deleniti
				culpa expedita. Neque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem minus temporibus
				nulla dicta tempore quam, quia eaque ullam magnam cum rem? Assumenda earum explicabo voluptatibus
				nesciunt ratione. Omnis, reiciendis quod. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Itaque sit minus sunt ipsum! Ipsum quo, quae dolore doloribus modi voluptatem ipsam vel cumque
				accusamus, enim, minus placeat iure nisi dicta?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem qui explicabo laudantium eos alias,
				perspiciatis vitae at dicta molestias possimus, corrupti rem doloremque aliquam, inventore eveniet
				deserunt cupiditate assumenda suscipit?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium vel sapiente, officia perferendis
				quam magnam cumque accusantium? Tempore, saepe doloremque voluptas, rerum, temporibus illum officia
				alias pariatur officiis sint rem!
			</div>
			<div class="photo">
				<img src="/assets/p3.jpg" class="profile" alt="Photo of Person Three">
			</div>
		</div>
		<div class="person">
			<div class="bio">
				<div id="h4" class="bio-head center-text">
					Final Daniel Sule
				</div>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas, tempore, provident temporibus
				voluptate quisquam officia hic ducimus delectus cupiditate ut quam dolore quaerat ad? Placeat autem ex
				nihil beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam ab numquam alias,
				eius rem. Eum corporis est, quidem laboriosam veritatis similique impedit error, eveniet porro, deleniti
				culpa expedita. Neque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem minus temporibus
				nulla dicta tempore quam, quia eaque ullam magnam cum rem? Assumenda earum explicabo voluptatibus
				nesciunt ratione. Omnis, reiciendis quod. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Itaque sit minus sunt ipsum! Ipsum quo, quae dolore doloribus modi voluptatem ipsam vel cumque
				accusamus, enim, minus placeat iure nisi dicta?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem qui explicabo laudantium eos alias,
				perspiciatis vitae at dicta molestias possimus, corrupti rem doloremque aliquam, inventore eveniet
				deserunt cupiditate assumenda suscipit?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium vel sapiente, officia perferendis
				quam magnam cumque accusantium? Tempore, saepe doloremque voluptas, rerum, temporibus illum officia
				alias pariatur officiis sint rem!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque soluta dolor, ipsa qui sunt, a quasi
				doloribus est velit, dolores rerum veniam corrupti in culpa eius minima molestiae provident eligendi.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, adipisci corporis consequatur facere
				natus nostrum pariatur suscipit, quia minus enim error in repudiandae quasi ad a commodi ipsum ratione
				quas.
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae repellendus necessitatibus aut
				aperiam voluptates odio dignissimos neque minus est perferendis, delectus omnis illum repellat vel
				labore, sed tempore quos pariatur.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque voluptas inventore eius quasi
				reprehenderit necessitatibus a repellendus reiciendis recusandae provident quia suscipit quis error
				nobis, neque corrupti officiis quam iure.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quas, tempore, provident temporibus
				voluptate quisquam officia hic ducimus delectus cupiditate ut quam dolore quaerat ad? Placeat autem ex
				nihil beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat magnam ab numquam alias,
				eius rem. Eum corporis est, quidem laboriosam veritatis similique impedit error, eveniet porro, deleniti
				culpa expedita. Neque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem minus temporibus
				nulla dicta tempore quam, quia eaque ullam magnam cum rem? Assumenda earum explicabo voluptatibus
				nesciunt ratione. Omnis, reiciendis quod. Lorem ipsum dolor sit amet consectetur adipisicing elit.
				Itaque sit minus sunt ipsum! Ipsum quo, quae dolore doloribus modi voluptatem ipsam vel cumque
				accusamus, enim, minus placeat iure nisi dicta?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem qui explicabo laudantium eos alias,
				perspiciatis vitae at dicta molestias possimus, corrupti rem doloremque aliquam, inventore eveniet
				deserunt cupiditate assumenda suscipit?
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium vel sapiente, officia perferendis
				quam magnam cumque accusantium? Tempore, saepe doloremque voluptas, rerum, temporibus illum officia
				alias pariatur officiis sint rem!
			</div>
			<div class="photo">
				<img src="/assets/p4.jpg" class="profile" alt="Photo of Person Four">
			</div>
		</div>
	</mat-card>
</div>