<div class="main center">
	<div class="header">Our Team</div>
	<div class="title-div">
		<div class="title">Robust team of <span class="primary">professionals</span> collaborating closely with clients
		</div>
		<div class="pitch">
			Our Team consists of highly-skilled people working to produce optimal results on every project. All SNL
			Nigeria projects
			are executed at the highest levels of performance recognised globally.
		</div>
	</div>
	<div class="team-div">
		<div class="subtitle">Meet the SNL Team</div>
	</div>
	
	<div id="team1">
		<div class="mobile">
			<div class="person">
				<div class="photo">
					<img src="/assets/team/p2.jpg" class="profile" alt="Photo of Lanre Oyebo">
				</div>
				<div id="h1" class="bio-head center-text">
					Mr O. A. Oyebo
				</div>
				<div class="bio" [innerHTML]="t_1"></div>
			</div>
		</div>
		<div class="desktop">
			<div class="person p-r">
				<div class="bio">
					<div id="h1" class="bio-head center-text">
						Mr O. A. Oyebo
					</div>
					<div [innerHTML]="t_1"></div>
				</div>
				<div class="photo">
					<img src="/assets/team/p2.jpg" class="profile" alt="Photo of Lanre Oyebo">
				</div>
			</div>
		</div>
	</div>

	<div id="team2">
		<div class="mobile">
			<div class="person">
				<div class="photo">
					<img src="/assets/team/t2.jpg" class="profile" alt="Photo of Mr Bamkat Ephraim">
				</div>
				<div id="h1" class="bio-head center-text">
					Mr Bamkat Ephraim
				</div>
				<div class="bio" [innerHTML]="t_2"></div>
			</div>
		</div>
		<div class="desktop">
			<div class="person p-r">
				<div class="bio">
					<div id="h1" class="bio-head center-text">
						Mr Bamkat Ephraim
					</div>
					<div [innerHTML]="t_2"></div>
				</div>
				<div class="photo">
					<img src="/assets/team/t2.jpg" class="profile" alt="Photo of Mr Bamkat Ephraim">
				</div>
			</div>
		</div>
	</div>

	<div id="team3">
		<div class="mobile">
			<div class="person">
				<div class="photo">
					<img src="/assets/team/t3.jpg" class="profile" alt="Photo of Mr Daniel Sule">
				</div>
				<div id="h1" class="bio-head center-text">
					Mr Daniel Sule
				</div>
				<div class="bio" [innerHTML]="t_3"></div>
			</div>
		</div>
		<div class="desktop">
			<div class="person p-r">
				<div class="bio">
					<div id="h1" class="bio-head center-text">
						Mr Daniel Sule
					</div>
					<div [innerHTML]="t_3"></div>
				</div>
				<div class="photo">
					<img src="/assets/team/t3.jpg" class="profile" alt="Photo of Mr Daniel Sule">
				</div>
			</div>
		</div>
	</div>

	<!-- <div id="team2">
		<div class="mobile">
			<div class="person">
				<div class="photo">
					<img src="/assets/team/p2.jpg" class="profile" alt="Photo of Lanre Oyebo">
				</div>
				<div id="h1" class="bio-head center-text">
					Mr John Doe
				</div>
				<div class="bio" [innerHTML]="t_2"></div>
			</div>
		</div>
		<div class="desktop">
			<div class="person p-r">
				<div class="bio">
					<div id="h1" class="bio-head center-text">
						Mr John Doe
					</div>
					<div [innerHTML]="t_2"></div>
				</div>
				<div class="photo">
					<img src="/assets/team/p2.jpg" class="profile" alt="Photo of Lanre Oyebo">
				</div>
			</div>
		</div>
	</div>

	<div id="team3">
		<div class="mobile">
			<div class="person">
				<div class="photo">
					<img src="/assets/team/p3.jpg" class="profile" alt="Photo of Lanre Oyebo">
				</div>
				<div id="h1" class="bio-head center-text">
					Mr John Doe
				</div>
				<div class="bio" [innerHTML]="t_2"></div>
			</div>
		</div>
		<div class="desktop">
			<div class="person p-r">
				<div class="bio">
					<div id="h1" class="bio-head center-text">
						Mr John Doe
					</div>
					<div [innerHTML]="t_2"></div>
				</div>
				<div class="photo">
					<img src="/assets/team/p3.jpg" class="profile" alt="Photo of Lanre Oyebo">
				</div>
			</div>
		</div>
	</div> -->
</div>