<div class="intro">
	<div class="banner-div">
		<img class="banner-img" src="/assets/banner.png" alt="Nucleus Technologies Logo">
	</div>
	<div class="mobile center-text header">
		Nucleus
		<br>
		Technologies
	</div>
	<div class="desktop center-text header">Nucleus Technologies</div>
	<div class="center-text subhead h-pad italic grey-text">Leveraging technology to solve practical problems</div>
</div>
<div class="flex">
	<div class="card" id="card1">
		<div class="card-header primary">Unleash Creativity</div>
		<div class="card-subhead">Dream big. We'll breathe life into your dreams.</div>
	</div>
	<div class="card" id="card2">
		<div class="card-header">Reach the World</div>
		<div class="card-subhead">
			Whatever your audience, we'll get your message out there. From small teams to multinational corporations,
			we'll
			build solutions at whatever scale you need.
		</div>
	</div>
</div>
<div class="flex">
	<div class="card" id="card3">
		<div class="card-header primary">Strength in Diversity</div>
		<div class="card-subhead left-text">
			We build a diverse class of solutions for our clients ranging from personal blogs to e-commerce applications
			and ed-tech software. At Nucleus Technologies, we strongly believe that our collective strength comes
			from individual experiences; request a quotation today and join our community.
		</div>
	</div>
	<div class="card" id="card4">
	</div>
</div>
<div class="inter" id="fullBg">
	<div class="inter-card">
		<br>
		<div class="card-header primary">Intelligent Design</div>
		<div class="card-subhead ">
			Industry-leading solutions to complex problems
		</div>
		<div class="card-footer">
			<button mat-raised-button>Request a Quotation</button>
		</div>
	</div>
</div>
<div class="flex t-flex">
	<div class="tri-card" id="card5">
		<div class="card-content">
			<div class="card-header primary">Mobile Development</div>
			<div class="card-subhead left-text">
				With more people visiting the internet from their mobile devices, you can't go wrong with a
				mobile app for your platform. Have your business be a single tap away, request a Quotation.
			</div>
			<div class="card-footer">
				<button mat-raised-button>Build a Mobile App</button>
			</div>
		</div>
		<div class="card-img-div">
		</div>
	</div>
	<div class="tri-card" id="card6">
		<div class="card-content">
			<div class="card-header primary">Web Development</div>
			<div class="card-subhead left-text">
				Publish your business on the internet by having your very own website. Open up a world of possibilities
				with the world wide web. Request a Quotation.
			</div>
			<div class="card-footer">
				<button mat-raised-button>Build a Website</button>
			</div>
		</div>
		<div class="card-img-div">
		</div>
	</div>
	<div class="tri-card" id="card7">
		<div class="card-content">
			<div class="card-header primary">Desktop Development</div>
			<div class="card-subhead left-text">
				For enterprise customers with their specific in-house software, simply let us know what problem
				you're trying to solve and we'll design a solution catered to your needs. Request a Quotation.
			</div>
			<div class="card-footer">
				<button mat-raised-button>Build a Desktop App</button>
			</div>
		</div>
		<div class="card-img-div">
		</div>
	</div>
</div>