@import 'variables.scss';

.flex {
    display: flex;
    align-items: center;
}

.f1-d {
    width: 50%;
    height: 80vh;
}

.d2-img {
    height: 100%;
}

.d1 {
    font-size: 34pt;
    font-weight: 700;
    line-height: 1.25em;
    color: #29292C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d2 {
    display: flex;
    justify-content: flex-end;
}

.d-highlight {
    color: #CE423A;
}

.d1 .text {
    width: 80%;
    margin: 0 auto;
}

.d1-subtext {
    margin-top: 50px;
    font-size: 18pt;
    line-height: 1.25em;
    font-weight: 500;
}