<div class="home">
	<div class="main-flex">
		<div class="left-flex">
			<div class="flex-sect">
				<h1 class="center-text title light">Our Company</h1>
				<br>
				<div class="main-text">
					<ul>
						<li class="header-item"><a href="#vision">Our Vision</a></li>
						<li class="header-item"><a href="#it">IT Solutions</a></li>
						<li class="header-item"><a href="#education">Education</a></li>
						<li class="header-item"><a href="#team">Team Expertise</a></li>
						<li class="header-item"><a href="#entertainment">Entertainment</a></li>
						<li class="header-item"><a href="#contracts">Contracts/Business Divisions</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="right-flex">
			<div class="logo-div center-text">
				<img src="/assets/icon.png" alt="SNL Global Logo" class="logo">
				<br><br><br>
				<div class="title">
					SNL Global
				</div>
				<div class="subtitle">
					<span class="c1">Quality</span> <span> Redesigned</span>
				</div>
			</div>
		</div>
	</div>
	<h1 class="center-text title top-header c3">Discovering SNL Global</h1>
	<div class="sect div1">
		<div class="left-sect">
			<mat-card class="card img-card img1-card">
				<div class="sub-head center-text">
					Our Vision
				</div>
			</mat-card>
		</div>
		<div class="right-sect" id="vision">
			<mat-card class="card text-card">
				SNL exists to reshape the future of Africa through advanced technology, engineering and exploration.
				<br><br>
				By stimulating interest in the future of science and technological breakthroughs, SNL Global is
				positioned to systematically build the future of Africa.
				<br><br>
				<div class="center-text">
					<button class="btn" mat-raised-button (click)="consult()">Book Consultation</button>
				</div>
			</mat-card>
		</div>
	</div>
	<div class="sect div1">
		<div class="left-sect">
			<mat-card class="card img-card img2-card">
				<div class="sub-head center-text">
					IT Solutions
				</div>
			</mat-card>
		</div>
		<div class="right-sect" id="it">
			<mat-card class="card text-card">
				Our projects run on smart, green and energy-efficient solutions, simultaneously prioritising
				efficiency and superb results.
				<br><br>
				SNL Global develops technology that optimises for the best possible results while ensuring that
				resources are managed at industry standards across the board.
				<br><br>
				Our Advanced Technology Research & Design Centre is the first of its kind in Africa, developing and
				testing world-class component prototypes across a wide variety of industries.
			</mat-card>
		</div>
	</div>
	<div class="sect div1">
		<div class="left-sect">
			<mat-card class="card img-card img3-card">
				<div class="sub-head center-text">
					Education
				</div>
			</mat-card>
		</div>
		<div class="right-sect" id="education">
			<mat-card class="card text-card">
				Developing the future begins with investments in younger generations. That's why SNL Global is passionate
				about stimulating interest in STEM disciplines, and particularly the history of aerospace and aviation,
				ushering a new age of space explorers in Africa.
				<br><br>
				Beginning with entertainment centres like SPACE Park, SNL Global aims to reach an entirely new generation
				with the wonders of space and science.
			</mat-card>
		</div>
	</div>
	<div class="sect div1">
		<div class="left-sect">
			<mat-card class="card img-card img4-card">
				<div class="sub-head center-text">
					Team Expertise
				</div>
			</mat-card>
		</div>
		<div class="right-sect" id="team">
			<mat-card class="card text-card">
				Our Team consists of highly-skilled people working to produce optimal results on every project.
				<br><br>
				All SNL projects are executed at the highest level of performance and worked on by industry-leading
				experts.
			</mat-card>
		</div>
	</div>
	<div class="sect div1">
		<div class="left-sect">
			<mat-card class="card img-card img5-card">
				<div class="sub-head center-text">
					Entertainment
				</div>
			</mat-card>
		</div>
		<div class="right-sect" id="entertainment">
			<mat-card class="card text-card">
				SPACE Park consists of cutting-edge observatories and aerodynamic entertainment systems, promising
				Park-goers an unforgettable experience.
				<br><br>
				In addition to the wonders of the universe available at the Park, Science and Engineering Exhibitions
				are staged by the Park to spark creativity into enthusiasts and produce the next revolutionary invention.
			</mat-card>
		</div>
	</div>
	<div class="sect div1">
		<div class="left-sect">
			<mat-card class="card img-card img6-card">
				<div class="sub-head center-text">
					Contracts/Business Divisions
				</div>
			</mat-card>
		</div>
		<div class="right-sect" id="contracts">
			<mat-card class="card text-card">
				With investments into Research & Development, Cybersecurity, Engineering and Design, along with
				consultants with years of experience in the Defence and Aviation industries, SNL Global boasts a world-class
				suite of businesses. Book a Consultation today.
				<br><br>
				<div class="center-text">
					<button class="btn" mat-raised-button (click)="consult()">Book Consultation</button>
				</div>
			</mat-card>
		</div>
	</div>
</div>