@import 'variables.scss';

.main-flex {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.left-flex {
    width: 70%;
    background-image: url('/assets/home/poster.jpg');
    background-position: center;
    background-size: cover;
}

.right-flex {
    width: 30%;
    padding: 30px 0px 0px 0px;
}

.left-flex-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: #0000006c;
}

.logo {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.title {
    margin: 20px 10px;
    font-size: 24pt;
}

.subtitle {
    margin: 10px 5px;
    font-size: 18pt;
}

.header-item {
    color: $light;
    font-size: 20pt;
    margin: 25px 5px;
    padding: 10px 0px;
}

.header-item > a {
    color: $light;
    transition: all 0.25s;
}

.header-item > a:hover {
    color: $c3;
}