<div class="intro sect">
	<div class="banner-div">
		<img class="banner-img" src="/assets/icon.png" alt="SNL Logo">
	</div>
	<div class="center-text header">SNL Global</div>
	<!-- <div class="center-text subhead italic grey-text">A better way to make it happen</div> -->
</div>
<div class="flex sect">
	<div class="card" id="card1">
		<div class="card-header">Cutting-Edge Research</div>
		<div class="card-subhead">
			SNL Global is constantly innovating, seeking out more efficient solutions for the problems of today,
			simultaneously seeking out the technology of the future.
		</div>
	</div>
	<div class="card" id="card2">
		<div class="card-header">World-Class Systems</div>
		<div class="card-subhead">
			Our Teams work tirelessly to ensure that all projects are executed with best in class design techniques.
			From the very latest in R & D to tried and true methods refined for the 21st Century, SNL Global defines
			new standards for client demands.
		</div>
	</div>
</div>
<div class="flex sect">
	<div class="card" id="card3">
		<div class="card-header">Seamless Project Execution</div>
		<div class="card-subhead">
			Our industry-leading integration brings together all Teams to ensure that all projects are built
			according to client specifications, delivering the best value for our clients.
		</div>
	</div>
	<div class="card" id="card4">
		<div class="card-header">The Long View</div>
		<div class="card-subhead">
			Building systems that stand the test of time is top of mind for SNL Global as well as using refined processes
			that are sustainable and built for the long haul.
		</div>
	</div>
</div>
<div class="spread-div sect">
	<div class="spread" id="spread1">
		<div class="spread-card dark">
			<div class="card-header">Vintage Me</div>
			<!-- Vintage meets Vernal -->
			<div class="card-subhead">
				Systems built for a different era
			</div>
		</div>
	</div>
	<div class="spread" id="spread2">
		<div class="spread-card light">
			<div class="card-header">ets Nouvelle</div>
			<!-- Vintage meets Vernal -->
			<div class="card-subhead">
				step into the 21st Century.
			</div>
		</div>
	</div>
	<div class="spread-card-footer">
		<div class="card-footer">
			<button mat-raised-button>Book a Consultation</button>
		</div>
	</div>
</div>
<div class="grid sect">
	<div class="grid-card" id="grid1">
		<div class="grid-text-div">
			<div class="card-header">State-of-the-Art</div>
			<div class="card-subhead">SNL Global is committed to making the world a better place through efficient applications of state-of-the-art technology.</div>
		</div>
		<div class="grid-img-div" id="grid-img1"></div>
	</div>
	<div class="mobile">
		<div class="grid-card" id="grid2">
			<div class="grid-text-div">
				<div class="card-header">STEM Education</div>
				<div class="card-subhead">Driving the technology of the future by investing in tomorrow's STEM experts.</div>
			</div>
			<div class="grid-img-div" id="grid-img2"></div>
		</div>
	</div>
	<div class="desktop">
		<div class="grid-card" id="grid2">
			<div class="grid-img-div" id="grid-img2"></div>
			<div class="grid-text-div">
				<div class="card-header">STEM Education</div>
				<div class="card-subhead">Driving the technology of the future by investing in tomorrow's STEM experts.</div>
			</div>
		</div>
	</div>
	<div class="grid-card" id="grid3">
		<div class="grid-text-div">
			<div class="card-header">Ethics Compliance</div>
			<div class="card-subhead">Our Teams are thoroughly vetted to ensure field-specific ethical compliance across our projects</div>
		</div>
		<div class="grid-img-div" id="grid-img3"></div>
	</div>
</div>
<!-- <div class="flex">
	<div class="card" id="card1">
		<div class="card-header grey-text">Defining New Standards</div>
		<div class="card-subhead">Our world-class team of experts brings best in class solutions to customer needs.
		</div>
	</div>
	<div class="card" id="card2">
		<div class="card-header">Sustainability & Efficiency</div>
		<div class="card-subhead">
			Every one of our projects is built with long-term sustainability in mind. Our processes are optimised
			to generate the best results from the latest innovations in technology.
		</div>
	</div>
</div> -->
<!-- <div class="flex">
	<div class="card" id="card3">
		<div class="card-header primary">SNL Global</div>
		<div class="card-subhead left-text">
			SNL Global is a multinational advanced technology, aerospace, aviation, and engineering company
			focused on designing and developing the systems that power the future. We boast a multi-disciplined diverse,
			highly talented team of technical experts across a wide range of sectors from engineering, software
			development, information technology, artificial intelligence, agile project management, and e-commerce.
		</div>
	</div>
	<div class="card" id="card4">
	</div>
</div> -->
<div class="inter sect" id="fullBg1">
	<div class="inter-card">
		<br>
		<div class="card-header primary">SNL Global</div>
		<div class="card-subhead ">
			A Better Way to Make it Happen
		</div>
		<div class="card-footer">
			<button mat-raised-button>Book a Consultation</button>
		</div>
	</div>
</div>
<div class="flex t-flex sect">
	<div class="tri-card" id="card5">
		<div class="card-content">
			<div class="card-header grey-text">Research & Design</div>
			<div class="card-subhead left-text">
				Building for the future begins with investments into research and iteratively designing
				prototypes to meet the challenges of tomorrow.
			</div>
			<!-- <div class="card-footer">
				<button mat-raised-button>Build a Mobile App</button>
			</div> -->
		</div>
		<div class="card-img-div">
		</div>
	</div>
	<div class="tri-card" id="card6">
		<div class="card-content">
			<div class="card-header dark">Development & Integration</div>
			<div class="card-subhead left-text">
				Creating new and efficient processes begins with developing the technology that brings the
				future into the present. Our team is well-versed in taking tried and true processes and revamping
				them with cutting-edge research to improve efficiency.
			</div>
			<div class="card-footer">
				<button mat-raised-button>Request a Consultation</button>
			</div>
		</div>
		<div class="card-img-div">
		</div>
	</div>
	<div class="tri-card" id="card7">
		<div class="card-content">
			<div class="card-header light">Technological Advancement</div>
			<div class="card-subhead left-text">
				A core belief of our company is that everyone should have access to technology and the
				possibilities it creates and so we're invested in developing solutions that are at the forefront
				of advancing the technological revolution in developing countries.
			</div>
			<!-- <div class="card-footer">
				<button mat-raised-button>Build a Desktop App</button>
			</div> -->
		</div>
		<div class="card-img-div">
		</div>
	</div>
</div>