@import 'variables.scss';

.main-flex {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.left-flex {
    width: 70%;
    background-image: url('/assets/home/poster.jpg');
    background-position: center;
    background-size: cover;
}

.right-flex {
    width: 30%;
    padding: 30px 0px 0px 0px;
}

.flex-sect {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: #0000006c;
}

.logo {
    width: 60%;
    display: block;
    margin: 0 auto;
}

.title {
    margin: 20px 10px;
    font-size: 24pt;
}

.subtitle {
    margin: 10px 5px;
    font-size: 18pt;
}

.header-item {
    color: $light;
    font-size: 20pt;
    margin: 25px 5px;
    padding: 10px 0px;
}

.header-item > a {
    color: $light;
    transition: all 0.25s;
}

.header-item > a:hover {
    color: $c3;
}

.top-header {
    margin: 50px 10px;
}

.sect {
    display: flex;
    min-height: 90vh;
}

.left-sect, .right-sect {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card {
    width: 70%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.img-card {
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.sub-head {
    padding: 20px;
    background-color: #0000006c;
    color: $light;
    font-size: 24pt;
    line-height: 1.5em;
}

.text-card {
    font-size: 16pt;
    line-height: 1.5em;
}

.img1-card {
    background-image: url('/assets/home/vision.jpg');
}

.img2-card {
    background-image: url('/assets/home/it.jpg');
}

.img3-card {
    background-image: url('/assets/home/education.jpg');
}

.img4-card {
    background-image: url('/assets/home/experts.jpg');
}

.img5-card {
    background-image: url('/assets/home/entertainment.jpg');
}

.img6-card {
    background-image: url('/assets/home/business.jpg');
}

.btn {
    padding: 5px 20px;
    background-color: $c3;
    color: $light;
    font-size: 16pt;
}

.btn:hover {
    background-color: $c1;
    color: $light;
}